<div class="container mx-auto p-8">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-3xl font-bold">New House</h1>
        <%= form_with model: @house, class: "mt-8" do |form| %>
            <%= form.hidden_field :manager_id, value: current_user.id %>
            <div class="mt-4">
                <%= form.label :address, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
                <%= form.text_field :address, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="mt-4">
                <%= form.label :city, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
                <%= form.text_field :city, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="mt-4">
                <%= form.label :zip, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
                <%= form.number_field :zip, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="mt-4">
                <%= form.label :state, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
                <%= form.text_field :state, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="mt-4">
                <%= form.label :bedrooms, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
                <%= form.number_field :bedrooms, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="mt-4">
                <%= form.label :gender, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
                <%= form.text_field :gender, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>

            <div class="mt-8">
                <%= form.submit "Create House", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
            </div>
        <% end %>
    </div>
</div>