<div class="flex justify-center items-center h-screen">
  <div class="w-full max-w-md p-6 bg-white rounded shadow-lg">
    <%= form_with model: manager do |form| %>
      <div class="mb-4">
        <%= form.label :first_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :first_name, class: "form-input w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :last_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :last_name, class: "form-input w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :dob, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.date_field :dob, class: "form-input w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :phone, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :phone, class: "form-input w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :email, class: "form-input w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
      </div>

      <div class="flex justify-center">
        <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>